<div>Total Inscritos: </div>
<br>
<div>
<div>Primaria</div>
<div>Total: {{auxP}}</div>

<div *ngFor="let student of students">
  <div *ngIf="student.grado === 'P'">
    <br>
    <div [ngStyle]="{'background': student.edad < 18 ? 'yellow' : 'red'}">
    <app-student [name]="student.nombre | uppercase"
                 [age]="student.edad"
                 [grade]="'Primaria'">
    </app-student>

    </div>
</div>
</div>
<br>
<div>
<div>Secundaria</div>
<div>Total: {{auxS}}</div>

<div *ngFor="let student of students">
  <div *ngIf="student.grado === 'S'">
    <br>
    <div [ngStyle]="{'background': student.edad < 18 ? 'yellow' : 'red'}">
    <app-student [name]="student.nombre | uppercase"
                 [age]="'Secundaria'"
                 [grade]="student.grado">
    </app-student>

    </div>
</div>
</div>