<div>Total Inscritos: {{total}}</div>
<br>
<div *ngIf="total === 5">TODOS ESTÁN INSCRITOS</div>
<br>
<div>
<div>Primaria</div>
<div>Total: {{auxP}}</div>

<div *ngFor="let student of students">
  <div *ngIf="student.grado === 'P'">
    <br>
    <div [ngStyle]="{'background': student.edad > 18 ? 'red' : 'yellow'}">
    <app-student [name]="student.nombre | uppercase"
                 [age]="student.edad"
                 [grade]="'Primaria'"
                 (clickInscribir)="onClickSaveChild($event)">
    </app-student>

    </div>
</div>
</div>
<br>
<div>
<div>Secundaria</div>
<div>Total: {{auxS}}</div>

<div *ngFor="let student of students">
  <div *ngIf="student.grado === 'S'">
    <br>
    <div [ngStyle]="{'background': student.edad < 18 ? 'yellow' : 'red'}">
    <app-student [name]="student.nombre | uppercase"
                 [age]="student.edad"
                 [grade]="'Secundaria'"
                 (clickInscribir)="onClickSaveChild($event)">
    </app-student>

    </div>
</div>
</div>